.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 0 20px;
}
.container h1 {
  font-size: 2rem;
  color: #272736c7;
  padding-bottom: 15px;
  border-bottom: 1px solid #272736c7;
  width: 100%;
}
.container p,
h2 {
  font-size: 18px;
  color: #272736c7;
  width: 100%;
}

.container ul {
  list-style: none;
  color: #272736c7;
  width: 100%;
}
.container ul li {
  margin-bottom: 16px;
  border: 1px solid #272736c7;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.container .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.footer p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 1rem;
}

.footer button,
.reset {
  padding: 0.7rem 1.2rem;
  border: 0;
  border-radius: 10px;
  background-image: linear-gradient(67deg, #3d153d, #f53e5d);
  color: #fff;
  cursor: pointer;
  width: 150px;
}

.reset {
  margin-bottom: 1rem;
}

.container .correct {
  background-color: #b5fccc;
  border: 1px solid #88f8ab;
}
.container .wrong {
  background-color: #fac5c5;
  border: 1px solid #ee8282;
}

@media (max-width: 480px) {
  .container {
    max-width: 300px;
  }
}
